.container{
    display: "flex";
    flex-direction: "row";
    justify-content: space-between;
    border: 2px solid gray;
    flex-wrap: nowrap;

}
.IMG{
    width: 50%;
    object-fit: 'cover';
}
.title{
    width: 50%;
}